.prose mark{
    color:#fff;
}
strong{
  background-color: #06b5d473;
  font-weight:normal;
  /* text-decoration: #06b5d4  underline 1px; */
  /* text-underline-offset: 3px; */
}
.tk-nick{
  font-weight:bold;
  background-color: transparent;
  /* text-decoration: #06b5d4  underline 1px; */
  /* text-underline-offset: 3px; */
}
blockquote {
  font-weight: 180;
}

/* body {
  background-image: url("../img/blueline.JPG");
  background-size:cover;
  background-position: center;
  background-repeat: repeat;
} */
